<!DOCTYPE html>
<html>
<head>
  <title>Recuperar Contraseña</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdb-ui-kit@3.9.0/css/mdb.min.css" integrity="sha384-XXXXXXXXXXXXXXXXXXXX" crossorigin="anonymous">
  <link rel="stylesheet" href="recuperar-pass.component.css">
</head>
<body>
  <div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body p-5">
            <h5 class="card-title text-center mb-4">Recuperar Contraseña</h5>
            <form>
              <div class="form-outline mb-4">
                <input type="email" id="email" class="form-control" />
                <label class="form-label" for="email">Correo Electrónico</label>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Enviar</button>
            </form>
          </div>
          <div class="card-footer text-muted text-center">
            <a href="#" class="text-decoration-none">Regresar al inicio de sesión</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/mdb-ui-kit@3.9.0/js/mdb.min.js" integrity="sha384-XXXXXXXXXXXXXXXXXXXX" crossorigin="anonymous"></script>
  <script src="footer.component.js"></script>
</body>
</html>

