

  <app-header></app-header>

    <br>
    <div class="container-fluid">
      <h1 class="titulo">CARRITO</h1>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th class="tituloCompras">#</th>
            <th class="tituloCompras">Producto</th>
            <th class="tituloCompras">Precio</th>
            <th class="tituloCompras">Cantidad</th>
            <th class="tituloCompras">Total</th>
          </tr>
        </thead>
      </table>

      <app-card-carrito></app-card-carrito>
      <br>

        <button type="button" class="btn btn-black clearCarrito " >Limpiar carrito</button>
        <button  type="button" class="btn updateCarrito">Actualizar carrito</button>


        <br>
        <br>
        <button type="button" class="btn btn-danger btn-rounded comprarBtn">Comprar</button>
        <br>
        <br>
        <br>

    </div>

        <app-footer></app-footer>
