<div class="container">
    <div class="card">
      <h3 class="title" style="text-align: center;">Crear nueva talla</h3>
      
      <form [formGroup]="SizeForm">
  
        <div class="form-outline mb-4">
          <label class="form-label" for="size">Nombra un nuevo tamaño de ropa</label>
          <input type="size" id="size" formControlName="size" class="form-control form-control-lg" />
        </div>
  
        <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="savesize()">Guardar</button>
      </form>
    </div>
  </div>
  