<!--
 <div class="row">
  <div class="col-md-2 mb-4 bg-image hover-overlay ripple" *ngFor="let p of card; let i = index">
    <div class="container">
      <div class="card">
        <img [src]="p.image" alt="MDB Logo" loading="lazy" />
        <div class="card-info">
          <p class="text-title">{{ p.name }}</p>
          <p class="text-body">{{ p.description }}</p>
        </div>
        <div class="card-footer">
          <span class="text-title">${{ p.price }}</span>

          <div class="card-button">
              <svg (click)="toggleCarrito(p)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- <div class="row">
  <div class="col-md-2 col-sm-6 mb-4" *ngFor="let p of card; let i = index">
    <div class="card bg-image hover-overlay ripple" data-mdb-ripple-color="light" style="height: 350px;">
      <img [src]="p.image" class="img-fluid" />
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ p.name }}</h5>
      <p class="card-text">{{ p.description }}</p>
      <div class="card-footer d-flex justify-content-between">
        <span class="text-title">${{ p.price }}</span>
        <div class="card-button">
          <svg (click)="toggleCarrito(p)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
      </div>
      </div>
    </div>
  </div>
</div> -->


<div class="row p-4">
  <!-- <div class="col-md-2 col-sm-6 mb-4" *ngFor="let p of card; let i = index"> -->
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 mb-4" *ngFor="let p of card; let i = index">
    <div class="card bg-image hover-overlay ripple" data-mdb-ripple-color="light" style="height: 350px;">
      <img [src]="p.image" class="img-fluid" />
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </div>
    <div class="card-body">
      <br>
      <h5 class="card-title text-primary">{{ p.name }}</h5>
      <p class="card-text">{{ p.description }}</p>
      <div class="card-footer d-flex justify-content-between">
        <span class="text-title h4">${{ p.price }}</span>

        <button (click)="toggleCarrito(p)" type="button" class="btn  btn-floating">
          <i *ngIf="isCartEmpty" class="bi bi-cart"></i>
          <i *ngIf="isCartChecked" class="bi bi-cart-check-fill"></i>
        </button>

      </div>
    </div>
  </div>
</div>
