
  <app-header></app-header>
  <div class="container">
    <div class="robot-container">
      <div class="robot"></div>
    </div>
    <h1>¡Fuera de Servicio!</h1>
    <p>Estamos realizando mejoras en el sistema. ¡Vuelve pronto!</p>
  </div>

  <app-footer></app-footer>






  <!-- <div class="container mt-5">
    <h2>Compras Realizadas</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio Total</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let compra of [1,1,1,1]">
          <td>compra.id </td>
          <td>compra.producto </td>
          <td>compra.cantidad </td>
          <td>$ compra.precioTotal </td>
          <td>compra.fecha | date:'medium' </td>
        </tr>
      </tbody>
    </table>
  </div> -->


  <!-- <div class="container-fluid">
    <br>
      <h2 class="titulo">MIS COMPRAS</h2>
      <hr>

          <tr>

          </div>

  <app-card-carrito></app-card-carrito> -->
