<div class="custom-table-container">
  <div class="mt-3">
    <h2 class="text-center">Genero</h2>
  </div>
  <hr>
  <table class="table data-table">
      <thead>
          <tr>
              <th scope="col">Núm</th>
              <th scope="col">Género</th>
              <th scope="col">Acciones</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let sex of genero">
              <td>{{ sex.id }}</td>
              <td>{{ sex.sex }}</td>
              <td>
                  <div class="button-container">
                      <button type="button" class="btn btn-warning btn-sm btn-rounded" (click)="editGen(sex)">
                          <i class="fas fa-pen"></i>
                      </button>
                      <button type="button" class="btn btn-danger btn-sm btn-rounded" (click)="deleteGen(sex)">
                          <i class="fas fa-trash"></i>
                      </button>
                  </div>
              </td>
          </tr>
      </tbody>
  </table>
</div>
