
<div class="host">
    <div class="card" style="width: 60%;">
      <h3 class="title">Editar Rol</h3>
      <form [formGroup]="RoleForm">
        <div class="form-outline mb-4">
          <label class="form-label" for="type_role">Nombra un nuevo rol</label>
          <input type="type_role" id="type_role" formControlName="type_role" class="form-control" style="width: 100%;" />
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary" (click)="updaterole()">Guardar</button>
        </div>
      </form>
    </div>
</div>
