<div class="container">
    <div class="card">
        <h3 class="title text-center">Crear nuevo rol</h3>
        <form [formGroup]="RoleForm">
            <div class="form-outline mb-4">
                <label class="form-label" for="type_role">Nombra un nuevo rol</label>
                <input type="text" id="type_role" formControlName="type_role" class="form-control form-control-lg" />
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg" (click)="saverole()">Guardar</button>
            </div>
        </form>
    </div>
</div>
