<div class="login-background">
    <form class="custom-form">
      <table class="table data-table">
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Tipo de ropa</th>
            <th scope="col">Agregar</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Pantalon</td>
            <td><a href="#">Agregar</a></td>
            <td><a href="#">Editar</a></td>
          </tr>
          <!-- Agrega más filas con otros datos aquí -->
        </tbody>
      </table>
    </form>
  </div>