/* Establecer una tipografía */
body {
    font-family: Arial, sans-serif;
}

.host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

.card {
    max-width: 350px;
    margin: auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* Establecer una tipografía elegante para el título */
h2 {
    font-family: "Roboto", sans-serif; /* Cambiar a una fuente elegante como Playfair Display */
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
}

/* Agregar un poco de espacio y una línea decorativa debajo del título */
h2 {
    margin-bottom: 15px;
    padding-bottom: 5px;
}


/* Estilos para el campo de entrada y el botón */
.form-control {
    font-size: 18px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-primary {
    font-size: 20px;
    padding: 12px 20px;
    background-color: #007bff; /* Cambiar color de fondo del botón */
    border: none;
    border-radius: 5px;
    color: #fff; /* Cambiar color del texto del botón */
}

.btn-primary:hover {
    background-color: #0056b3; /* Cambiar color de fondo del botón al pasar el mouse */
}
