<div class="container">
    <div class="card">
        <h2 class="text-center mb-4">Agregar nuevo género</h2>
        
        <form [formGroup]="generoForm">
            
            <div class="mb-3" class="generoForm">
                <label class="form-label" for="sex">Nombra un género</label>
                <input type="text" class="form-control" id="tituloRopa" placeholder="Ingresa el tipo de ropa" formControlName="sex">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg" (click)="updateGen()">Guardar</button>
            </div>
        </form>
    </div>
  </div>
  