<div class="container host">
    <div class="card">
      <h3 class="title">Agregar nuevo género</h3>
      <form [formGroup]="generoForm">
        <div class="form-outline mb-4">
          <label class="form-label" for="tituloRopa">Ingresa un nuevo genero</label>
          <textarea id="tituloRopa" class="form-control form-control-lg" formControlName="sex" rows="1" cols="120"></textarea>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary btn-lg" (click)="save()">Guardar</button>
        </div>
      </form>
    </div>
</div>
