/* Estilos para centrar y aplicar margen a la tabla */
.custom-table-container {
    margin: 0 auto;
    max-width: 800px;
  }
  
  /* Estilos para centrar la información en las celdas */
  .custom-table tbody td {
    text-align: center;
    vertical-align: middle;
  }
  
  /* Estilos para los botones con bordes redondeados */
  .btn-rounded {
    border-radius: 50%; /* Hace que los bordes sean redondeados */
    padding: 8px 12px; /* Ajusta el espaciado interno del botón */
  }
  
  .button-container {
    display: flex;
    gap: 10px; /* Ajusta el espacio entre los botones según tu preferencia */
  }
  
  
  