<div class="login-background-container">
  <div class="mt-3">
    <h2 class="text-center">Genero</h2>
  </div>
  <hr>
  <form class="custom-form">
    <div class="custom-table-container">
      <table class="table data-table">
        <thead>
          <tr>
            <th scope="col">Núm</th>
            <th scope="col">Tipo de prenda</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let typeCloth of ropa">
            <td>{{ typeCloth.id }}</td>
            <td>{{ typeCloth.name_clothe }}</td>
            <td>
              <div class="button-container">
                <button type="button" class="btn btn-warning btn-sm btn-rounded" (click)="deletTypeCloth(typeCloth)">
                  <i class="fas fa-pen"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm btn-rounded" (click)="deletTypeCloth(typeCloth)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
