<br>
<h1 align="center">{{title}}</h1>
<form [formGroup]="productoForm" autocomplete="off">
<div class="row">

  <hr>
  <div class="col-md-8">
    <div class="pb-3">
      <div class="form-outline mb-4">

        <input type="text" id="name" formControlName="name" class="form-control form-control-lg" />
        <label class="form-label" for="name">Nombre del producto</label>
      </div>

      <div class="form-outline mb-4">
        <input  type="number" id="price" formControlName="price" class="form-control form-control-lg" />
        <label class="form-label" for="price">Precio del producto</label>
      </div>

      <div class="form-outline mb-4">
        <input type="number" id="stock" formControlName="stock" class="form-control form-control-lg" />
        <label class="form-label" for="stock">Stock disponible</label>
      </div>

      <div class="form-outline mb-4">
        <input type="text" id="description" formControlName="description" class="form-control form-control-lg" />
        <label class="form-label" for="description">Breve descripción</label>
      </div>

    </div>
    <div class="row">

      <div class="col-md-6">
        <div class="form-outline mb-4">
          <label class="form-label" for="size_id">Tamaño del producto</label>
          <select id="size_id" formControlName="size_id" class="form-select form-select-lg">
            <option *ngFor="let size of availableSizes" [value]="size.id">{{ size.size }}</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-outline mb-4">
          <label class="form-label" for="type_clothes_id">Tipo del producto</label>
          <select id="type_clothes_id" formControlName="type_clothes_id" class="form-select form-select-lg">
            <option *ngFor="let clothes of availableClothes" [value]="clothes.id">{{ clothes.name_clothe }}</option>
          </select>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-4">

  <div class="form-outline mb-4">
    <input type="file" class="form-control" (change)="onFileSelected($event)" formControlName="image" accept="image/*"/>
  </div>

  <!-- Muestra la vista previa de la imagen seleccionada -->
  <div *ngIf="productToEdit.image && imgResult ==null" class="mb-4">
    <img [src]="productToEdit.image" alt="Vista previa de la imagen" class="img-thumbnail" style="max-height: 200px;">

  </div>
  <div *ngIf="imgResult" class="mb-4">
    <img [src]="imgResult" alt="Vista previa de la imagen" class="img-thumbnail" style="max-height: 200px;">
  </div>


  </div>
</div>
<button type="submit" class="btn btn-primary btn-lg btn-block" (click)="optionBtn()">{{titleBtn}}</button>
</form>











    <!-- PAra el antes -->
<!--
  <button (click)="compressFile()">Upload and compress Image</button>
  <img [src]="imgResultBeforeCompression" *ngIf="imgResultBeforeCompression" />
  <img [src]="imgResultAfterCompression" *ngIf="imgResultAfterCompression" /> -->
<!-- sdslf -->

<!-- <button (click)="compressFile()">Upload and compress Image</button>
<img [src]="imgResult" *ngIf="imgResult" />


  <img *ngIf="productoForm.get('image')?.value" [src]="productoForm.get('image')?.value" alt="Vista previa de la imagen" class="img-thumbnail mt-2" style="max-height: 200px;"> -->






  <!-- <button (click)="compressFile()">Subir y comprimir imagen</button> -->
  <!-- <img [src]="imgResult" *ngIf="imgResult" /> -->

  <!-- Cambiamos el input type a "file" y asignamos el formControlName "image" -->
  <!-- <div class="form-outline mb-4"> -->
    <!-- <input type="file" class="form-control" (change)="onFileSelected($event)" formControlName="image" /> -->
    <!-- <label class="form-label" for="image">Imagen del producto</label> -->
  <!-- </div> -->

  <!-- Muestra la vista previa de la imagen seleccionada -->
  <!-- <img *ngIf="productoForm.get('image')?.value" [src]="productoForm.get('image')?.value" alt="Vista previa de la imagen" class="img-thumbnail mt-2" style="max-height: 200px;"> -->
